<!doctype html>
<html lang="fr">
  <head>
    <link  rel="stylesheet" type="text/css" href="../static/css/plugin.css">
    <title>LSFBTrad</title>

  </head>
  <body id="plugin" style="width: 200px;">

    <nav class="panelLsfb">
      <div class="panelLsfb-heading level" style="display: flex;">
        <div class="level-left">
            <div class="level-item">
                    <a target="_blank" rel="noopener noreferrer" href="https://dico.corpus-lsfb.be/">
                        <img src="../static/img/logo1.PNG" style="width: 48px;" alt='icon'/>
                    </a>
            </div>
        </div>
        <div class="level-right">
            <a target="_blank" rel="noopener noreferrer" href="https://dico.corpus-lsfb.be/">
                <img src="../static/img/giveme.PNG" style="width: 120px;" alt='icon'/>
            </a>
        </div>

      </div>
      <a class="panelLsfb-block" target="_blank" rel="noopener noreferrer" href="https://dico.corpus-lsfb.be/">
            Visiter Dico-LSFB
      </a>
        <!--<span id="groud_id" ></span><br>
        <span id="username_id" > </span><br>-->
        <a class="panelLsfb-block" id="toDashboard" target="_blank" style="display: none" rel="noopener noreferrer" href="http://127.0.0.1:5000/dashboard/" >
            Mon espace de travail
        </a>
        <div id="login-form">
            <form id="loginLsfb-form" method="post">
            <label for="group-name">Nom du Groupe :</label>
            <input type="text" id="group-name" name="group-name"><br>
            <label for="username">Pseudo :</label>
            <input type="text" id="username" name="username"><br>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password"><br>
            <input id="submitLogin" type="submit" value="Login">
            </form>
        </div>


    </nav>
    <script src="../static/js/plugin.js">

    </script>
  </body>
</html>
