<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Group Form</title>
  </head>
  <body>
    <!-- First part: Form -->
    <h1>Create a Group</h1>
    <form method="post" action="/dashboard_admin/addGroup/" novalidate>
        <div class="col-md-6 offset-md-3">
            {{ form.csrf_token }}
            <!-- {{ form.hidden_tag() }} -->
            {{ form.name.label (class="text-primary")}} {{ form.name (class="form-control bg-white text-primary", placeholder="Votre pseudo") }}<br>
            {% if form.name.errors %}
                {% for message in form.name.errors %}
                    <small class="form-text text-danger">{{ message }}</small>
                {% endfor %}
            {% endif %} <br>
            {{ form.description.label (class="text-primary")}} {{ form.description (class="form-control bg-white text-primary", placeholder="") }}<br>
            {% if form.description.errors %}
                {% for message in form.description.errors %}
                    <small class="form-text text-danger">{{ message }}</small>
                {% endfor %}
            {% endif %} <br>
            {{ form.password.label (class="text-primary")}} {{ form.password (class="form-control bg-white text-primary", placeholder="Mot de passe") }}<br>
            {% if form.password.errors %}
                {% for message in form.password.errors %}
                    <small class="form-text text-info">{{ message }}</small>
                {% endfor %}
            {% endif %}<br>
            {{ form.checkpassword.label (class="text-primary")}} {{ form.checkpassword (class="form-control bg-white text-primary", placeholder=" confirme Mot de passe") }}<br>
            {% if form.checkpassword.errors %}
                {% for message in form.checkpassword.errors %}
                    <small class="form-text text-info">{{ message }}</small>
                {% endfor %}
            {% endif %}<br>
            {{ form.submit (class="btn btn-primary") }}

        </div>
    </form>
    <hr>

  </body>
</html>
