{% extends "full_dashboard_admin.html" %}
{% block content %}

<head>
    <link rel="stylesheet" href="../static/css/emptyCard.css">
</head>

<body>
    <div class="card">
        <a href="/dashboard_admin/addGroup/">
            <div class="card-image">
                <img src="../static/img/no_group.png" alt="noGroup" />
            </div>

            <div class="card-body">
                <div class="card-excerpt">
                    <p> Bienvenue sur la page de gestion des groupes.</p>
                    <p>Vous n'avez pas encore de groupe. Cliquez ici pour en créer un. </p>
                </div>

            </div>
        </a>
    </div>
</body>
{% endblock %}