{% extends "full_dashboard_admin.html" %}
{% block content %}

<body>
    <div class="featured-clay">
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Nombre de membres</th>
                    <th>Gestion<th>
                </tr>
            </thead>
            <tbody>
                {% for group, len in groups.items() %}
                <tr>
                    <td> <a href="/dashboard_admin/videoGroup/{{ group.name }}">{{group.name}}</a></td>
                    <td>{{ group.description }}</td>
                    <td>{{ len }}</td>
                    <td>
                        <a href="/dashboard_admin/editGroup/{{ group.id }}">Modifier</a>

                        <a href="/dashboard_admin/deleteGroup/{{ group.id }}">Supprimer</a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

{% endblock %}