{% extends "full_dashboard_admin.html" %}
{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/group.css') }}">
</head>

<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="edit">

            <form method="post" action="/dashboard_admin/editGroup/{{ group.id }}" novalidate>
                <label for="chk" aria-hidden="true"> Nom du Groupe : {{ group.name }} </label>
                {{ form.csrf_token }}
                <!-- {{ form.hidden_tag() }} -->
                {{ form.name (placeholder="Votre pseudo") }}
                {% if form.name.errors %}
                {% for message in form.name.errors %}
                <small class="form-text text-danger">{{ message }}</small>
                {% endfor %}
                {% endif %}
                {{ form.description (placeholder="") }}
                {% if form.description.errors %}
                {% for message in form.description.errors %}
                <small class="form-text text-danger">{{ message }}</small>
                {% endfor %}
                {% endif %}
                {{ form.password (placeholder="Mot de passe") }}
                {% if form.password.errors %}
                {% for message in form.password.errors %}
                <small class="form-text text-info">{{ message }}</small>
                {% endfor %}
                {% endif %}
                {{ form.checkpassword (placeholder=" confirme Mot de passe") }}
                {% if form.checkpassword.errors %}
                {% for message in form.checkpassword.errors %}
                <small class="form-text text-info">{{ message }}</small>
                {% endfor %}
                {% endif %}
                <button type="submit"> Modifier</button>
            </form>
        </div>
    </div>
</body>

{% endblock  %}