<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Dashboard_admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash_admin.css') }}">
</head>

<body>
    <div class="dashboard-river">

        <div class="dashboard-container">

            <div class="dashboard">

                <div class="ui-row-2">

                    <div class="left-sidebar">

                        <div>
                            <a href="/logout_admin">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-log-out">
                                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                    <polyline points="16 17 21 12 16 7"></polyline>
                                    <line x1="21" y1="12" x2="9" y2="12"></line>
                                </svg>
                            </a>
                        </div>

                        <div>
                            <a href="/dashboard_admin/addGroup/">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    <path fill-rule="evenodd"
                                        d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="main-content">

                        <div class="header">

                            <div class="page-display">
                                <h1>Dashboard admin</h1>
                                <h2>{{ admin_name }}</h2>
                            </div>
                        </div>
                        <hr>
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <div class="footer">
        <p>&copy; Give Me A Sign</p>
    </div>
</body>

</html>