<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register Admin</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login_register.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="signup">
            <form method="POST" action="/register_admin/" novalidate name="register_form">
                <label for="chk" aria-hidden="true">Sign up</label>
                <!-- Objets firstname, lastname, username, date, password, confirmpassword, submit défini dans forms.py -->
                {{ register_form.csrf_token }}
                {{ register_form.username (placeholder="Votre pseudo") }}
                <small class="form-text text-danger">
                    {% if register_form.username.errors %} {% for message in register_form.username.errors %}{{ message
                    }}
                    {% endfor %}{% endif %}
                </small>
                {{ register_form.email (placeholder="Votre email") }}
                <small class="form-text text-danger">
                    {% if register_form.username.errors %} {% for message in register_form.username.errors %}{{ message
                    }}
                    {% endfor %}{% endif %}
                </small>
                {{ register_form.password (placeholder="Mot de passe") }}
                <small class="form-text text-danger">
                    {% if register_form.password.errors %} {% for message in register_form.password.errors %}
                    {{ message }}
                    {% endfor %}{% endif %}
                </small>
                {{ register_form.checkpassword (placeholder="Confirmation du mot de passe") }}
                <small class="form-text text-danger">
                    {% if register_form.checkpassword.errors %} {% for message in register_form.checkpassword.errors %}
                    {{ message }}
                    {% endfor %}{% endif %}
                </small>
                <button type="submit">Sign up</button>
            </form>
        </div>

        <div class="login">

            <form method="POST" action="/login_admin/" novalidate name="login_form">
                <label for="chk" aria-hidden="true">Login</label>
                {{ login_form.csrf_token }}
                {{ login_form.username (placeholder="Votre pseudo") }}
                {% if login_form.username.errors %}
                {% for message in login_form.username.errors %}
                <small class="form-text text-danger">{{ message }}</small>
                {% endfor %}
                {% endif %}
                {{ login_form.password (placeholder="Mot de passe") }}
                {% if login_form.password.errors %}
                {% for message in login_form.password.errors %}
                <small class="form-text text-info">{{ message }}
                    {% endfor %}
                    {% endif %}
                </small>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    <div>
    <span id="passwordForgot" class="text-right"><a href="{{ url_for('.pwresetrq_post') }}"> Mot de passe oublié ?</a></span>
    </div>
</body>

</html>
