<!DOCTYPE html>
<html>

<head>
    <title> Nouvau signe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../static/css/record.css">
</head>


<body>
    {% if blocked %}
    {% with messages = get_flashed_messages( with_categories=true, category_filter=['info'] ) %}
    {% if messages %}
    <ul class='flashes'>
        {% for c, m in messages %}
        <li class="text-danger"> {{ c }} : {{ m }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    

    {%else %}
    <div class="container">
    </div>
    <h1 class="logo" style="color: black"><a href="/upload/{{mot}}">Enregistrement d'un nouveau signe dans le groupe {{
            group }}</a> </h1>
    <h3 id="mot_record" class="badge badge-primary">{{mot}}</h3>
    <br>
    <div class="display-none" id="recorder">
        <video autoplay id="vidBox"> </video>
        <button type="button" id="record" title="commencez l'enregitrement"> <i class="fa fa-play"></i></button>
        <button type="button" id="stop" title="arrêtez l'enregistrement"><i class="fa fa-stop"></i></button>
        <button type="button" id="retry" title="recommencer l'enregistrement en cliquant sur ce bouton">&#8634;</button>
    </div>
    <div>
        <label for="keywordsInput">Entrer des mots-clés : </label>
        <input type="text" id="keywordsInput" placeholder="mot-clé 1, mot-clé 2, mot-clé 3" autofocus />
        <br>
        <br>
    </div>
    {% endif %}


    <!-- FOOTER -->
    <div class="footer">
        <p>&copy; Give Me A Sign</p>
    </div>

    <script src="../static/js/record.js"> </script>
</body>

</html>